* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
#black {
  background-color: #f0f0f0;
  display         : flex;
  justify-content : center;
  align-items     : center;
  height          : 100%;
}
.__main {
background-image: url(https://cdn.wallpapersafari.com/45/4/wMPXDm.jpg); 
 min-height: 100vh;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: 15px solid rgb(35, 33, 37);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-x;
  min-height: 100vh;
}